<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <button
        type="button"
        class="col-md-12 btn btn-primary navbar-btn"
        (click)="openCam()"
      >
        <span class="glyphicon glyphicon-facetime-video"></span>
        Ligar Camera
      </button>
      <div id="app">
        <video
          class="col-md-12"
          #video
          id="video"
          width="540"
          height="330"
          autoplay
        ></video>
        <button
          class="col-md-12 btn btn-primary navbar-btn"
          id="snap"
          (click)="capture()"
        >
          <span class="glyphicon glyphicon-camera"></span>

          Capturar foto
        </button>
        <canvas #canvas id="canvas" width="600" height="400"></canvas>
        <ul>
          <li *ngFor="let photo of gallery; let i = index">
            <img src="{{ photo }}" height="75" />
            <button type="submit" (click)="removePhoto(i)" class="mt-bt btn btn-primary">
              excluir
            </button>
          </li>
        </ul>
      </div>
    </div>

    <div class="col-md-6 mt">
      <form action="#">
          <div class="form-group">
              <label for="apartamento">Apartamento</label>
              <select [(ngModel)]="resident.apartment" name="apartment" class="form-control" id="apartamento">
                  <option *ngFor="let a of apartments" [ngValue]="a">{{a.number}}</option>               
              </select>
            </div>
        <div class="form-group">
          <label for="name">Nome:</label>
          <input type="name" name="name" [(ngModel)]="resident.name" class="form-control" id="name" />
        </div>
        <div class="form-group">
          <label for="email">Email:</label>
          <input type="email" name="email" [(ngModel)]="resident.email" class="form-control" id="email" />
        </div>
        <div class="form-group">
          <label for="phone">Telefone:</label>
          <input type="text" name="phone" [(ngModel)]="resident.phone" class="form-control" id="phone" />
        </div>
        <div class="form-group">
          <label for="dataNasc">Data de nascimento:</label>
          <input type="date" name="dataNasc" [(ngModel)]="resident.dataNasc" class="form-control" id="dataNasc" />
        </div>
        <div class="form-group"> 
          <label for="gender">Sexo:</label>
          <div id="gender" class="radio">
            <label><input [(ngModel)]="resident.gender" type="radio" value="M" name="optradio" />Masculino</label>
            <label><input [(ngModel)]="resident.gender" type="radio" value="F" name="optradio" />Feminino</label>
          </div>
        </div>
        <button (click)="save()" class="mt-bt btn btn-primary float-right">
          Submit
        </button>
      </form>
    </div>
  </div>
</div>
