body {
    background-color: #F0F0F0;
}
#app {
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
}
#video {
    background-color: #000000;
}
#canvas {
    display: none;
}
li {
    display: inline;
    padding: 5px;
}

.mt{
    margin-top: 2%;
}
.mt-bt{
    margin-top: 2%;
    float: right;
}

.ng-invalid.ng-touched:not(form){
    border: 1px solid red;
}

.msg-error {
    margin-top: -2%;
    margin-bottom: 2%;
    background-color: #dd4b39c7 !important;
    opacity: 0.8;
    width: 100%;
    padding: 4px;
    color: white;
    border-radius: 4px;
}