<!-- INÍCIO DO CONTEÚDO -->
<section class="content-header">
  <h1>Sobre</h1>
</section>

<section class="content">
    <p class="lead">
      Sistema de gerenciamento de controle de acesso
    </p>
    <p class="lead">
      Reconhecimento Facial
    </p>
    <p class="lead">Copyright 2019 Eduardo (<a href="https://www.linkedin.com/in/eduardo-ara%C3%BAjo-21260871/" target="_blank">linkedin/eduardo.araujo</a>)</p>    
    <p class="lead">Instituto Federal de Ciência, Educação e tecnologia do Amazonas - IFAM.</p>
    <p class="lead">Apresentação TCC2</p>
    <p class="lead">Curso de Análise e desenvolvimento de sistemas</p>
    


  </section>
<!-- FIM DO CONTEÚDO -->