
<div class="list-resident">
  <section class="content-header">
    <h3 class="text-center">
      {{ resident?.name }}
    </h3>
  </section>
  <br />

  <div class="container-fluid">
    <div class="col-md-6">
        <p>Email: {{ resident?.email }}</p>
        <p>Telefone: {{ resident?.phone }}</p>
        <p>Data de nascimento: {{ resident?.dataNasc | date: 'dd/MM/yyyy' }}</p>
        <p>Sexo: {{ resident?.gender == 'M' ? 'Masculino' : 'Feminino'  }} </p>
    </div>
    <div class="col-md-6">
      <p><img *ngIf="photo" [src]="photo" /></p>
    </div>
  </div>


</div>